rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    function isSuperAdmin() {
      return request.auth != null && request.auth.token.role == 'SUPER_ADMIN';
    }
    
    function isAssignedTranslator(assignmentId) {
      return request.auth != null && request.auth.token.role == 'TRANSLATOR';
    }

    match /avatars/{profileId} {
      allow read: if request.auth != null;
      allow write: if isSuperAdmin() || (request.auth != null && request.auth.token.translatorProfileId == profileId);
    }

    match /assignments/{assignmentId}/source/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if isSuperAdmin();
    }

    match /assignments/{assignmentId}/result/{allPaths=**} {
      allow read: if isSuperAdmin() || isAssignedTranslator(assignmentId);
      allow write: if isSuperAdmin() || isAssignedTranslator(assignmentId);
    }
  }
}
